.social
	.social__wrap
		a.social__link(href='#' target='_blank' rel='nofollow')
			+svg('social-whatsapp', 'social__icon')
		a.social__link(href='#' target='_blank' rel='nofollow')
			+svg('social-telegram', 'social__icon')