$name: link-icon;

.#{$name} {
	display: inline-block;
	position: relative;

	&:hover {

		.#{$name} {

			&__text {
				color: $color-link;
				transition: none;
			}

			&__icon {
				fill: $color-link;
				transition: none;
			}
		}
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		transition: $duration / 2 linear;
	}

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: .5rem;
		vertical-align: middle;
		transition: $duration / 2 linear;
	}

	&__counter {
		background: $color-success;
		color: white;
		line-height: 21px;
		font-size: 11px;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		bottom: -10px;
		left: -5px;
		height: 20px;
		width: 20px;
		text-align: center;
		display: none;

		&_visible {
			display: block;
		}
	}

	&_big {

		.#{$name} {
			// =====

			&__icon {
				width: 30px;
				height: 30px;
			}
		}
	}
}