$name: link-icon;

.#{$name} {
	display: inline-block;

	&:hover {

		.#{$name} {

			&__text {
				color: $color-link;
				transition: none;
			}

			&__icon {
				fill: $color-link;
				transition: none;
			}
		}
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		transition: $duration / 2 linear;
	}

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: .5rem;
		vertical-align: middle;
		transition: $duration / 2 linear;
	}

	&_big {

		.#{$name} {
			// =====

			&__icon {
				width: 30px;
				height: 30px;
			}
		}
	}
}