$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__space-col {
		margin-bottom: 30px;
	}

	&__offer-wrap {

		&:first-child {

			@include screen-md(max) {
				margin-bottom: 30px;
			}

			@include screen-sm(max) {
				margin-bottom: 15px;
			}
		}
	}

	&__slider {

		@include screen-sm(max) {
			margin: 0 -15px;
		}
	}

	&__separator {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $color-lightgray;
	}

	&__mt-1em {
		margin-top: 1em;
	}

	&__mb-1em {
		margin-bottom: 1em;
	}
}