$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__space-col {
		margin-bottom: 30px;
	}

	&__offer-wrap {

		&:first-child {

			@include screen-md(max) {
				margin-bottom: 30px;
			}

			@include screen-sm(max) {
				margin-bottom: 15px;
			}
		}
	}
}