$name: menu;

.#{$name} {
	display: flex;
	justify-content: space-around;

	@include screen-sm() {
		display: block;
	}

	&__item {
		display: none;
		list-style-type: none;
		padding: 0 1rem;
		width: 33%;

		@include screen-sm() {
			width: auto;
			display: inline-block;
			padding: 0;
			margin-right: 2rem;
		}

		&_icon {
			display: inline-block;
		}
	}

	&__link {
		color: $color-link;
		transition: $duration / 2 linear;
		display: block;
		fill: $color-link;
		text-align: center;
		height: 100%;

		@include screen-sm() {
			line-height: 2;
		}

		&:hover {
			color: $color-link-hover;
			fill: $color-link-hover;
			transition: none;
		}
	}

	&__icon {
		width: 30px;
		height: 30px;
		display: block;
		margin: 0 auto 5px;

		@include screen-sm() {
			display: none;
		}
	}
}