$name: search;

.#{$name} {
	position: relative;

	&__input {
		padding-right: 34px;
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 34px;
		padding: 7px;
		cursor: pointer;
		transition: $duration ease;

		&:hover {
			fill: $color-link;
		}
	}
}