$name: subtitle;

.#{$name} {
	font-size: 15px;
	margin: 0;
	font-weight: bold;
	display: block;

	&_space {
		margin: 1.5em 0 1em;
	}
}

a.#{$name} {
	transition: $duration / 2 linear;
	display: inline-block;

	&:hover {
		color: $color-link;
		fill: $color-link;
		transition: none;
	}
}