$name: text;

.#{$name} {

	p {
		color: $color-text-gray;

		@include screen-sm(max) {
			font-size: 12px;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}