.section.section_desktop_gray.section_mobile_white.section_mobile_shrink.section_desktop_border-top.section_mobile_space-bot
	.container.text
		.row
			.col-sm-6.main__space-col
				h3.subtitle Воздушные шары
				p Воздушные шары — это обязательный атрибут любого праздника, а сегодня воздушные шарики, которые могут быть оформлены в яркие и красочные букеты, гирлянды или быть в форме любимых сказочных персонажей, являются очень оригинальным подарком.

			.col-sm-6.main__space-col
				h3.subtitle Оформление воздушными шарами
				p Для успешного проведения праздника или другого мероприятия необходимо сделать грамотное оформление. Наш магазин доставит вам воздушные шары самых разных расцветок и форм. Для некоторых мероприятий рекомендуется провести масштабное оформление воздушными шарами и купить большое количество этих элементов декора.

			.col-sm-6.main__space-col
				h3.subtitle Магазин гелиевых шаров
				p Добро пожаловать в магазин Дом шаров!
					br
					| Красивые воздушные шары и композиции из них с доставкой станут отличным украшением для любого мероприятия. Их можно приобрести ко Дню рождения, использовать на корпоративных вечеринках, на свадьбах, годовщинах, новогодних утренниках и прочих праздниках. Вы можете заказать шары латексные, фольгированные или изготовленные из других материалов. Часто приобретаются гелиевые шары, которые парят в воздухе или улетают под потолок зала, создавая невероятную атмосферу. Можно купить воздушные шары чтобы создать всевозможные оригинальные сочетания, украшающие обстановку помещения, либо заказать готовые композиции. Любой праздник с использованием шаров с гелием оживит обстановку.

			.col-sm-6.main__space-col
				h3.subtitle Оформление воздушными шарами
				p Воздушные шары отлично подходят для оформления такого праздника как День рождения. Особенно важно использовать воздушные шары в оформлении зала, если виновник торжества отмечает круглую дату. В этот день можно изготовить из надувных элементов огромные цифры, соответствующие возрасту именинника. На сегодняшний день использование фигур из воздушных шариков в День рождения стало настоящим трендом. Неплохим вариантом станут и «букеты» из гелиевых шаров, парящие под потолком, которые вы можете приобрести и составить в нашем магазине. Разноцветные и красочные шары сделают День рождения необыкновенным, запоминающимся и насыщенным. При этом цены на шарики в нашем магазине весьма демократичны и доступны для каждого. Композиции из гелиевых шаров могут служить прекрасным вариантом фона для съемки фото или видео. И, конечно же, очень радуются шарам на празднике присутствующие на мероприятии дети.